@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body{
    background-color: #ffb5a7;
}
h1{
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    font-family: "Honk";
}


/*Id section*/
#parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#mrJudgeJunior{
    background-image: url(assets/mrJudgeJunior.jpg);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
}
#mrFresh{
    background-image: url(assets/mrFresh.jpg);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;

}
#mrSnack{
    background-image: url(assets/mrSnack.jpg);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
}
